<div class="container">
    <div class="row">
        <div class="span7 footer-content">
            <p>We respect your privacy and security. Please contact us if you have any questions or comments.
                We provide the right set of tools for making real, face-to-face online qualitative research a reality.</p>
            <p>Tel: +44 (0)207 788 7821 or USA Freecall : 1-866 347 7468.</p>
            <p>Postal Address: VisionsLive Ltd, 26 York St, London W1U 6PZ, United Kingdom.</p>
            <p>&copy; 2012 VisionsLive. All rights reserved</p>
        </div>
        <div class="span2 offset1">
            <ul class="nav">
                <li class="first"><a href="#">My Project</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li class="last"><a href="#">Privacy Statement</a></li>
            </ul>
        </div>
        <div class="span1 offset1">
            <ul class="nav">
                <li class="first"><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Help</a></li>
                <li class="last"><a href="#">FAQs</a></li>
            </ul>
        </div>
    </div>
</div>