<!-- Sub nav -->
<div class="container">
    <div class="navbar navbar-sub">
        <div class="navbar-inner">
            <div class="container">

                <!-- My Projects -->
                <div class="btn-group myprojects active">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        My Projects
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="first"><a href="#">Dashboard</a></li>
                        <li><a href="#">Project Details</a></li>
                        <li><a href="#">Participants</a></li>
                        <li class="last"><a href="#">Settings</a></li>
                    </ul>
                </div>

                <!-- My Account -->
                <div class="btn-group myaccount">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        My Account
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="first"><a href="#">List item</a></li>
                        <li><a href="#">List item</a></li>
                        <li><a href="#">List item</a></li>
                        <li class="last"><a href="#">List item</a></li>
                    </ul>
                </div>

                <!-- Change create project -->
                <button class="btn btn-changecreate">Change/Create Project</button>

                <div class="nav-wrapper">
                    <!-- Current project header -->
                    <h1><span class="reg">Project:</span> Cannibal Trials (GSK )</h1>


                    <!-- Secondary nav -->
                    <ul class="nav">
                        <li class="first active"><a href="#">Dashboard</a></li>
                        <li><a href="#">Project Details</a></li>
                        <li><a href="#">Participants</a></li>
                        <li class="last"><a href="#">Settings</a></li>
                    </ul>
                </div>

                <!-- Current Subheader-->
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
</div>