@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="span3 offset9 wrapper-createsession">
        <!-- Create new session -->
        <button class="btn btn-createsession" data-placement="top" rel="tooltip" data-original-title="This is an example of a simple tooltip">Create a new session</button>
    </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs tabs-sessions">
    <li class="first active">
        <a href="#">Currently Running / Planned</a>
    </li>
    <li class="last"><a href="#">Archived / Completed</a></li>
</ul>

<!-- Session Panels -->
<div class="accordion accordion-panels session-panels" id="accordion2">

    <!-- Panel Item -->
    <div class="accordion-group">
        <div class="accordion-heading type1">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                30/11/2012 – 14:30 (1h) GSK – Cannibals 012
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">

                <!-- Summary Table -->
                <table class="table table-striped table-bordered table-hover table-condensed table-summary">
                    <thead>
                        <tr>
                            <th class="session-head name">Name</th>
                            <th class="session-head role">Role</th>
                            <th class="session-head messages-posted">Messages Posted</th>
                            <th class="session-head last-login">Last Login</th>
                            <th class="session-head send-message">Send Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Moderator</td>
                            <td>1 messages posted</td>
                            <td>1 day ago</td>
                            <td><button data-original-title="Click to send message" rel="tooltip" data-placement="right" class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>27 messages posted</td>
                            <td>16 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Respondent</td>
                            <td>1 messages posted</td>
                            <td>8 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>14 messages posted</td>
                            <td>70 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Observer</td>
                            <td>2 messages posted</td>
                            <td>23 hours ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>no messages posted</td>
                            <td>never</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Right Panel Options -->
                <div class="span2 panel-options-wrapper">
                    <ul class="panel-options">
                        <li class="first"><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                        <li><a href="#">Participants</a></li>
                        <li><a href="#">Content</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li class="last"><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel Item -->
    <div class="accordion-group">
        <div class="accordion-heading type2">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                30/11/2012 – 15:30 (1h) GSK – Cannibals 013
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse in">
            <div class="accordion-inner">

                <!-- Summary Table -->
                <table class="table table-striped table-bordered table-hover table-condensed table-summary">
                    <thead>
                        <tr>
                            <th class="session-head first name">Name</th>
                            <th class="session-head role">Role</th>
                            <th class="session-head messages-posted">Messages Posted</th>
                            <th class="session-head last-login">Last Login</th>
                            <th class="session-head send-message">Send Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Moderator</td>
                            <td>1 messages posted</td>
                            <td>1 day ago</td>
                            <td><button data-original-title="Click to send message" rel="tooltip" data-placement="right" class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>27 messages posted</td>
                            <td>16 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Respondent</td>
                            <td>1 messages posted</td>
                            <td>8 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>14 messages posted</td>
                            <td>70 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Observer</td>
                            <td>2 messages posted</td>
                            <td>23 hours ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>no messages posted</td>
                            <td>never</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Right Panel Options -->
                <div class="span2 panel-options-wrapper">
                    <ul class="panel-options">
                        <li class="first"><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                        <li><a href="#">Participants</a></li>
                        <li><a href="#">Content</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li class="last"><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel Item -->
    <div class="accordion-group">
        <div class="accordion-heading type2">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                30/11/2012 – 15:30 (1h) GSK – Cannibals 013
            </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse in">
            <div class="accordion-inner">

                <!-- Summary Table -->
                <table class="table table-striped table-bordered table-hover table-condensed table-summary">
                    <thead>
                        <tr>
                            <th class="session-head name">Name</th>
                            <th class="session-head role">Role</th>
                            <th class="session-head messages-posted">Messages Posted</th>
                            <th class="session-head last-login">Last Login</th>
                            <th class="session-head send-message">Send Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Moderator</td>
                            <td>1 messages posted</td>
                            <td>1 day ago</td>
                            <td><button data-original-title="Click to send message" rel="tooltip" data-placement="right" class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>27 messages posted</td>
                            <td>16 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Respondent</td>
                            <td>1 messages posted</td>
                            <td>8 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>14 messages posted</td>
                            <td>70 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Observer</td>
                            <td>2 messages posted</td>
                            <td>23 hours ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>no messages posted</td>
                            <td>never</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Right Panel Options -->
                <div class="span2 panel-options-wrapper">
                    <ul class="panel-options">
                        <li class="first"><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                        <li><a href="#">Participants</a></li>
                        <li><a href="#">Content</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li class="last"><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel Item -->
    <div class="accordion-group">
        <div class="accordion-heading type2">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                30/11/2012 – 15:30 (1h) GSK – Cannibals 013
            </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse in">
            <div class="accordion-inner">

                <!-- Summary Table -->
                <table class="table table-striped table-bordered table-hover table-condensed table-summary">
                    <thead>
                        <tr>
                            <th class="session-head name">Name</th>
                            <th class="session-head role">Role</th>
                            <th class="session-head messages-posted">Messages Posted</th>
                            <th class="session-head last-login">Last Login</th>
                            <th class="session-head send-message">Send Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Moderator</td>
                            <td>1 messages posted</td>
                            <td>1 day ago</td>
                            <td><button data-original-title="Click to send message" rel="tooltip" data-placement="right" class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>27 messages posted</td>
                            <td>16 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Respondent</td>
                            <td>1 messages posted</td>
                            <td>8 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>14 messages posted</td>
                            <td>70 days ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Costas Georgiou</td>
                            <td>Observer</td>
                            <td>2 messages posted</td>
                            <td>23 hours ago</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                        <tr>
                            <td>Jake P</td>
                            <td>Respondent</td>
                            <td>no messages posted</td>
                            <td>never</td>
                            <td><button class="btn btn-sendmessage"><span class="visuallyhidden">Click to send message</span></button></td>
                        </tr>
                    </tbody>
                </table>

                <!-- Right Panel Options -->
                <div class="span2 panel-options-wrapper">
                    <ul class="panel-options">
                        <li class="first"><a href="#">Edit</a></li>
                        <li><a href="#">Delete</a></li>
                        <li><a href="#">Participants</a></li>
                        <li><a href="#">Content</a></li>
                        <li><a href="#">Statistics</a></li>
                        <li class="last"><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>